
.banner-image{
    background-image: url("../images/Blog.jpg");
    background-size: cover;
  
}
h2{
    color: rgb(212, 211, 211);
}

.footer{
    background-color: #423731;
    min-height: 30vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.list{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    FONT-SIZE: 23px;
    font-family: fangsong;
}
